.grid-container {
 display: grid; 
 grid-gap: 2px ;
 grid-template:
  "header header header"
  "sidebar article article"
"footer footer footer";
background-color: #CC9900;
}

.header {
 grid-area: header; background:linear-gradient(180deg,purple,#990066,#660066);
 font-size:20px; text-align: center; color: #000066;  z-index: 0; font-family: Candara; border: solid 3px #CC9900;
}
.sidebar {
 grid-area: sidebar;
 display: flex;
 flex-direction: column; 

}

.article {
 grid-area: article;

}

.grid-item {
  background-color: purple;
 padding: 5px;
}
.red { 
color: crimson;
}
a {  
color: #FF9999;
font-size: 15px; font-family: Candara; 
}

.white {  
color: #FFFFCC;font-size: 20px; font-family: Candara; text-align: center;font-style: italic; 

}







p {   font-size: 15px ;z-index: -50;  margin-left: 10px;
color: cornsilk;font-family: Candara; text-align: center;

}



#love  { filter: opacity(35%) brightness(100%) saturate(105%) contrast(100%); border-radius:40px;display: block; margin: auto auto auto auto; border: solid 5px #006666; transform:rotate(0deg); height: 160px; width: 190px;z-index:-200;
}


.sexy  { filter: opacity(30%) brightness(105%) saturate(105%) contrast(105%)
}

.Singles
{


font-family: Fantasy;
text-decoration: underline;
color:aliceBlue;
margin: 5px 5px 5px 5px;

font-size: 15px;
z-index: -50;
}

.logo {  
width: 90px; height: 130px; border-radius: 20px; z-index: 50; transform: rotate(-4deg); filter: opacity(50%) brightness(105%) saturate(110%) contrast(105%);  border: solid 3px purple;
}
#taf  { filter: opacity(55%) brightness(100%) saturate(105%) contrast(105%) grayscale(25%); border-radius:50px; border: solid #0000FF 2px;height: 160px; width: 220px; display: block; margin: auto auto auto auto; z-index:-100;transform: rotate(0deg);
}

#rain {  height: 85px; width: 85px; filter: opacity(75%) brightness(105%) saturate(105%) contrast(105%); z-index: 0; border: solid 1px black; transform: rotate(0deg);
}


#rainy {  height: 85px; width: 85px; filter: opacity(75%) brightness(105%) saturate(105%) contrast(105%); z-index: 0; border: solid 1px black; transform: rotate(0deg);
}



.lovesex {  
width: 145px; height: 60px;  border-radius: 50px; z-index: 25; transform: rotate(6deg); filter: brightness(100%) saturate(100%) contrast(100%)  opacity(75%);
}

#symbol {  
width: 30px; height: 30px; border-radius: 50px; z-index: -200; transform: rotate(-5deg); filter: brightness(100%) saturate(100%) contrast(100%)  opacity(75%);
}

.footer  {
display: flex;
grid-column: span 3; background-color: purple; font-size: 15px; 
}
.bull { 
height: 40px; width: 50px;
filter:brightness(110%)contrast(115%)saturate(110%) opacity(75%);
border-radius: 5px;
z-index: -100;
}

#cap {  
width: 100px; height: 135px; border-radius: 20px; z-index: -200; transform: rotate(-5deg); filter: brightness(105%) saturate(110%) contrast(110%)  opacity(75%);margin-left: 50px; border: solid 2px #003300;
}

#legende  {
color: #FFFF00; z-index: -2000;
}

#green {  color: #003300; z-index: -2000;

}

#artist  {  display: block; margin: auto auto auto auto;
width: 100px; height: 80px;  transform: rotate(0deg); z-index: -100; filter: brightness(100%) saturate(100%) contrast(100%)  opacity(75%);border-radius: 30px;

}

.purple {  height: 150px; width: 155px; filter: opacity(75%) brightness(105%) saturate(105%) contrast(105%); z-index: 0; border: solid 1px black; 
}

li:hover {
  color:#003300;
}



.play {
 display: flex; flex-direction: column; font-size: 15px; margin-left: 70px;font-family: Candara; color: #FF9999; transform: rotate(0deg);
}

.black {  color: white; z-index: -200;

}
 #Victor
{
 font-family: Candara;background : linear-gradient(90deg,#003300,#FFFFFF); color: #003300; border: solid 3px Metallic; display: block; margin: auto auto auto auto;
border-radius: 20px; z-index: -200; width: 60px; height: 40px; font-size: 10px;





}


#blue {  color: #000066; z-index: -2000;

}

#fool  {  display: block; margin: auto auto auto auto;
width: 165px; height: 90px; transform: rotate(2deg); z-index: -500; filter: brightness(105%) saturate(110%) contrast(105%)  opacity(75%);

}

.luister {   width:100px; height: 30px; border-radius: 5px;
   z-index: -300; float: right;margin :auto auto auto auto;
 filter:brightness(102%) saturation(105%) contrast(120%) opacity(75%); 
}
.bull { 
height: 40px; width: 50px;
filter:brightness(110%)contrast(115%)saturate(110%) opacity(75%);
border-radius: 5px;
z-index: -100;
}